################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

*.dll
*.dylib
*.so
*.db-shm
*.db-wal
*.db
*.vsidx
*.wsuo
*.sqlite
*.a
*.cache
*.props
*.json
*.txt
*.editorconfig
*.Up2Date
*.exe
/RestFullApiTest/obj/Debug/net8.0
/RestFullApiTest/obj/Release/net8.0
/RestFullApiTest/obj
/RestFullApiTest/Properties
/RestFullApiTest/bin/Debug/net8.0
/.vs
/AplikacjaAndroid/obj
/AplikacjaAndroid/bin/Debug
/RestFullApi.IntegrationsTests/bin/Debug/net8.0
/RestFullApi.IntegrationsTests/obj
/RestFullApiTest.test/bin/Debug/net8.0
/RestFullApiTest.test/obj/Debug/net8.0
/RestFullApiTest.test/obj
/AplikacjaAndroid/bin/Release/net9.0-android
/RestFullApi.IntegrationsTests/bin/Release/net8.0
/RestFullApiTest.test/bin/Release/net8.0
